<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Selfit Start!!</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/node_modules/@yaireo/tagify/dist/tagify.css">
    <script src="/node_modules/jquery/dist/jquery.js"></script>
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->

    <!--    <script src="/node_modules/bootstrap/dist/js/bundle.js"></script>--> <!-- 경로도 바뀌었고. 좀 이상하네.. 지우니까 잘됨.-->
    <script src="/node_modules/jdenticon/dist/jdenticon.js"></script>



    <style>
        .main-bgc{
            background-color: rgb(64, 71, 197);
            height:4em;
        }

        .font-design-1{
            padding:10px;
            text-align:center;
            font-style:italic;
            color:rgb(14, 22, 97);
        }

        .dropdown-item {
            width: auto;
        }



    </style>

</head>



<nav th:fragment="main-nav" class="navbar navbar-expand-sm main-bgc" style="border-top: 5px solid rgb(180, 77, 77);">

    <a class="navbar-brand" href="#" th:href="@{/}" style="margin-left : 2%;">
        <i style="color:white; font-size:24px;">Selfit</i>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" style="margin-right : 2%;">
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link active" href="#" th:href="@{/login}"><i style="color:white; font-size:18px;">로그인</i></a>
            </li>

            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link active" href="#" th:href="@{/join}"><i style="color:white; font-size:18px;">가입</i></a>
            </li>


<!--            -->
            <div class="btn-group" style="margin-right:12%; color:white;" sec:authorize="isAuthenticated()">

                <button class="btn btn-info dropdown-toggle" style="background-color:transparent; border:none;" type="button" data-bs-toggle="dropdown" >
                    <span class="nav-item" sec:authorize="isAuthenticated()">
                        <svg th:if="${#strings.isEmpty(member?.profileImage)}" th:data-jdenticon-value="${#authentication.name}"
                             width="35" height="35" class="rounded border bg-light border-0"></svg>
                        <img th:if="${!#strings.isEmpty(member?.profileImage)}" th:src="${member.profileImage}"
                             width="35" height="35" class="rounded border border-0 "/>

                        <button class="dropdown-menu dropdown-menu-dark">
                            <span class="dropdown-header" th:text="|${#authentication.name}|"></span>
                            <div class="dropdown-divider" style="background-color:white;"></div>
                            <a class="dropdown-item" th:href="@{'/profile/' + ${#authentication.name}}">프로필</a>
                            <a class="dropdown-item" href="#">설정</a>

                                <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/logout}" method="post">
                                    <input class="dropdown-item" type="submit" value="로그아웃">
                                </form>

                        </button>
                    </span>

                </button>


            </div>

        </ul>
                <a href="#" style="color:antiquewhite;" sec:authorize="isAuthenticated()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                    </svg>
                </a>


    </div>



</nav>

<div th:fragment="footer" class="row justify-content-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-trophy" viewBox="0 0 16 16">
        <path d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935zM3.504 1c.007.517.026 1.006.056 1.469.13 2.028.457 3.546.87 4.667C5.294 9.48 6.484 10 7 10a.5.5 0 0 1 .5.5v2.61a1 1 0 0 1-.757.97l-1.426.356a.5.5 0 0 0-.179.085L4.5 15h7l-.638-.479a.501.501 0 0 0-.18-.085l-1.425-.356a1 1 0 0 1-.757-.97V10.5A.5.5 0 0 1 9 10c.516 0 1.706-.52 2.57-2.864.413-1.12.74-2.64.87-4.667.03-.463.049-.952.056-1.469H3.504z"/>
    </svg>
    <span class="badge text-bg-dark"><i style="font-size:24px;">&copy Selfit, Grow with us!</i></span>

    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</div>

<script type="application/javascript" th:fragment="form-validation">
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated')
                }, false)
            })
        }, false)
    }())
</script>




<div th:fragment="settings-menu (currentMenu)" class="list-group">
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'modify'}? active" href="#" th:href="@{/change/profile}">프로필 변경</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'password'}? active" href="#" th:href="@{/change/password}">비밀번호 변경</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'notifications'}? active" href="#" th:href="@{/settings/notifications}">알림</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'tags'}? active" href="#" th:href="@{/change/tags}">관심 주제</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'zones'}? active" href="#" th:href="@{/settings/zones}">활동 지역</a>
    <a class="list-group-item list-group-item-action list-group-item-danger" th:classappend="${currentMenu == 'account'}? active" href="#" th:href="@{/change/nickname}">계정</a>
</div>

<script type="application/javascript" th:inline="javascript" th:fragment="ajax-csrf-header">
    $(function() {
        var csrfToken = /*[[${_csrf.token}]]*/ null;
        var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(csrfHeader, csrfToken);
        });
    });
</script>


</html>