<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:replace="fragments.html :: head"></div>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>


<h3 style="text-align:center; margin:100px;"> Welcome Selfit !! </h3>
<h2 style="text-align:center; margin:100px;" th:if="${message}" th:text="${message}"></h2>


<div th:replace="fragments.html :: footer"></div>


</body>
</html>






